*{
    margin: 0px;
    padding: 0px;
}
#out{
    border: solid 1px;
    height: 650px;
    background-image: url(bg1.webp);
    background-repeat: no-repeat;
    background-size: 1350px;
}
h1{
    color:black;
    font-size: 70px;
    margin-top: 20px;
    margin-left: 150px;
}
#register,#login{
    height: 40px;
    width: 150px;
    background-color: bisque;
}
#register{
    margin-left: 300px;
}
#register a,#login a{
    color: rebeccapurple ;
    font-size: 20px;
    text-decoration: none;
}
#register:hover{
    background-color: pink;
}

